<h1 class="display-4 animate_animated animate_heartBeat">About <small>Marvel y DC</small></h1>
<hr>

<div class="row">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Marvel</h5>
            <h6 class="card-text">INFORMACIÓN Y CONTACTO DE LA EMPRESA</h6>
            <p class="card-text">Marvel Entertainment, LLC, una subsidiaria de propiedad total de The Walt Disney Company, es una de las compañías de entretenimiento basada en personajes más destacadas del mundo, construida sobre una biblioteca comprobada de más de 8.000
                personajes presentados en una variedad de medios durante setenta y cinco años. . Marvel utiliza sus franquicias de personajes en entretenimiento, concesión de licencias y publicaciones. Para más información visita marvel.com. © 2023 MARVEL</p>
            <h6 class="card-text">Sedes corporativas</h6>
            <p class="card-text">Marvel Entertainment, LLC <br> 1290 Avenida de las Américas <br> Nueva York, NY 10104</p>
            <h6 class="card-text">Preguntas de negocios</h6>
            <p class="card-text">Para obtener soporte técnico, visite la página de ayuda. <br> Número de teléfono general, Marvel Entertainment, LLC: 212-576-4000</p>
            <h6 class="card-text">Consultas del consumidor</h6>
            <p class="card-text">Para preguntas frecuentes relacionadas con Marvel Comics y Marvel.com: visite la página de ayuda.</p>
            <h6 class="card-text">Marvel.com, aplicación Marvel Comics y suscripciones ilimitadas a Marvel Digital Comics:</h6>
            <p class="card-text">Para cualquier consulta no resuelta en la página de ayuda, utilice el formulario de contacto aquí.</p>

            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
        <img src="assets/img/marvel.jpg" class="card-img-bottom" alt="...">
        <br>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">DC</h5>
            <h6 class="card-text">INFORMACIÓN Y CONTACTO DE LA EMPRESA</h6>
            <p class="card-text">DC, parte de Warner Bros. Discovery, crea personajes icónicos e historias duraderas y es uno de los editores de cómics y novelas gráficas más grandes del mundo. El trabajo creativo de DC entretiene a audiencias de todas las generaciones en
                todo el mundo con las historias y personajes de DC integrados en las divisiones de cine, televisión, animación, productos de consumo, entretenimiento en el hogar, juegos y experiencias temáticas de Warner Bros. Discovery, y en la suscripción
                de cómics digitales DC Universe Infinite. servicio.</p>
            <h6 class="card-text">Sedes corporativas</h6>
            <p class="card-text">2900 W. Alameda Ave. <br> Burbank, California 91505, US</p>
            <h6 class="card-text">Preguntas de negocios</h6>
            <p class="card-text">Para obtener soporte técnico, visite la página de ayuda. <br> Número de teléfono general, Marvel Entertainment, LLC: 212-576-4000</p>
            <h6 class="card-text">Consultas del consumidor</h6>
            <p class="card-text">Para preguntas frecuentes relacionadas con DC Comics y dc.com: visite la página de ayuda.</p>
            <h6 class="card-text">dc.com, aplicación DC Comics y suscripciones ilimitadas a DC Digital Comics:</h6>
            <p class="card-text">Para cualquier consulta no resuelta en la página de ayuda, utilice el formulario de contacto aquí.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
        <img src="assets/img/dc.jpeg" class="card-img-bottom" alt="...">
        <br>
    </div>
</div>